<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Title -->
    <title>::FreePos:: Best Pos Free Softwere</title>

    <!-- Required Meta Tags Always Come First -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Favicon -->

    <!-- Font -->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>

    <!-- CSS Implementing Plugins -->
    <link rel="stylesheet" href="./assets/css/vendor.min.css">

    <!-- CSS FreePos Template -->
    <link rel="stylesheet" href="./assets/css/theme.min.css?v=1.0">
</head>

<body>
    <!-- ========== HEADER ========== -->
    <header id="header" class="header header-box-shadow-on-scroll header-bg-transparent header-abs-top header-show-hide"
        data-hs-header-options='{
              "fixMoment": 1000,
              "fixEffect": "slide"
            }'>
        <div class="header-section">
            <div id="logoAndNav" class="container">
                <!-- Nav -->
                <nav class="js-mega-menu navbar navbar-expand-lg">
                    <!-- Logo -->
                    <a class="navbar-brand" href="/" aria-label="FreePos">
                        <img src="./assets/svg/logos/logo.svg" alt="Logo">
                    </a>
                    <!-- End Logo -->

                    <!-- Responsive Toggle Button -->
                    <button type="button" class="navbar-toggler btn btn-icon btn-sm rounded-circle"
                        aria-label="Toggle navigation" aria-expanded="false" aria-controls="navBar"
                        data-toggle="collapse" data-target="#navBar">
                        <span class="navbar-toggler-default">
                            <svg width="14" height="14" viewBox="0 0 18 18" xmlns="http://www.w3.org/2000/svg">
                                <path fill="currentColor"
                                    d="M17.4,6.2H0.6C0.3,6.2,0,5.9,0,5.5V4.1c0-0.4,0.3-0.7,0.6-0.7h16.9c0.3,0,0.6,0.3,0.6,0.7v1.4C18,5.9,17.7,6.2,17.4,6.2z M17.4,14.1H0.6c-0.3,0-0.6-0.3-0.6-0.7V12c0-0.4,0.3-0.7,0.6-0.7h16.9c0.3,0,0.6,0.3,0.6,0.7v1.4C18,13.7,17.7,14.1,17.4,14.1z" />
                            </svg>
                        </span>
                        <span class="navbar-toggler-toggled">
                            <svg width="14" height="14" viewBox="0 0 18 18" xmlns="http://www.w3.org/2000/svg">
                                <path fill="currentColor"
                                    d="M11.5,9.5l5-5c0.2-0.2,0.2-0.6-0.1-0.9l-1-1c-0.3-0.3-0.7-0.3-0.9-0.1l-5,5l-5-5C4.3,2.3,3.9,2.4,3.6,2.6l-1,1 C2.4,3.9,2.3,4.3,2.5,4.5l5,5l-5,5c-0.2,0.2-0.2,0.6,0.1,0.9l1,1c0.3,0.3,0.7,0.3,0.9,0.1l5-5l5,5c0.2,0.2,0.6,0.2,0.9-0.1l1-1 c0.3-0.3,0.3-0.7,0.1-0.9L11.5,9.5z" />
                            </svg>
                        </span>
                    </button>
                    <!-- End Responsive Toggle Button -->

                    <!-- Navigation -->
                    <div id="navBar" class="collapse navbar-collapse">
                        <div class="navbar-body header-abs-top-inner">
                            <ul class="navbar-nav">
                                <!-- Home -->
                                <!-- End Home -->

                                <!-- Pages -->
                                <li class=" navbar-nav-item">
                                    <a id="pagesMegaMenu" class="nav-link  "
                                        href="/">Home</a>

                                    <!-- Pages - Submenu -->
                                    <!-- <div id="pagesSubMenu" class="hs-sub-menu dropdown-menu"
                                        aria-labelledby="pagesMegaMenu" style="min-width: 230px;">
                                        <div class="hs-has-sub-menu">
                                            <a id="navLinkPagesAccount"
                                                class="hs-mega-menu-invoker dropdown-item dropdown-item-toggle "
                                                href="javascript:;" aria-haspopup="true" aria-expanded="false"
                                                aria-controls="navSubmenuPagesAccount">Account <span
                                                    class="badge badge-success badge-pill ml-2">New</span></a>

                                            <div id="navSubmenuPagesAccount" class="hs-sub-menu dropdown-menu"
                                                aria-labelledby="navLinkPagesAccount" style="min-width: 230px;">
                                                <a class="dropdown-item " href="./account-overview.html">Personal
                                                    info</a>
                                                <a class="dropdown-item " href="./account-login-and-security.html">Login
                                                    &amp; security</a>
                                                <a class="dropdown-item "
                                                    href="./account-notifications.html">Notifications</a>
                                                <a class="dropdown-item "
                                                    href="./account-preferences.html">Preferences</a>
                                                <a class="dropdown-item " href="./account-orders.html">Orders</a>
                                                <a class="dropdown-item " href="./account-wishlist.html">Wishlist</a>
                                                <a class="dropdown-item " href="./account-billing.html">Plans &amp;
                                                    payment</a>
                                                <a class="dropdown-item " href="./account-address.html">Address</a>
                                                <a class="dropdown-item " href="./account-teams.html">Teams</a>
                                            </div>
                                        </div>
                                        <div class="hs-has-sub-menu">
                                            <a id="navLinkPagesCompany"
                                                class="hs-mega-menu-invoker dropdown-item dropdown-item-toggle "
                                                href="javascript:;" aria-haspopup="true" aria-expanded="false"
                                                aria-controls="navSubmenuPagesCompany">Company</a>

                                            <div id="navSubmenuPagesCompany" class="hs-sub-menu dropdown-menu"
                                                aria-labelledby="navLinkPagesCompany" style="min-width: 230px;">
                                                <a class="dropdown-item " href="./page-about-agency.html">About
                                                    Agency</a>
                                                <a class="dropdown-item " href="./page-services-agency.html">Services
                                                    Agency</a>
                                                <a class="dropdown-item " href="./page-customers.html">Customers</a>
                                                <a class="dropdown-item " href="./page-customer-story.html">Customer
                                                    story</a>
                                                <a class="dropdown-item " href="./page-careers.html">Careers</a>
                                                <a class="dropdown-item " href="./page-careers-single.html">Careers
                                                    Single</a>
                                                <a class="dropdown-item " href="./page-hire-us.html">Hire Us</a>
                                            </div>
                                        </div>
                                        <div class="hs-has-sub-menu">
                                            <a id="navLinkPagesPortfolio"
                                                class="hs-mega-menu-invoker dropdown-item dropdown-item-toggle "
                                                href="javascript:;" aria-haspopup="true" aria-expanded="false"
                                                aria-controls="navSubmenuPagesPortfolio">Portfolio</a>

                                            <div id="navSubmenuPagesPortfolio" class="hs-sub-menu dropdown-menu"
                                                aria-labelledby="navLinkPagesPortfolio" style="min-width: 230px;">
                                                <a class="dropdown-item " href="./portfolio-grid.html">Grid</a>
                                                <a class="dropdown-item " href="./portfolio-masonry.html">Masonry</a>
                                                <a class="dropdown-item " href="./portfolio-modern.html">Modern</a>
                                                <div class="dropdown-divider"></div>
                                                <a class="dropdown-item "
                                                    href="./portfolio-case-studies-branding.html">Case Studies
                                                    Branding</a>
                                                <a class="dropdown-item "
                                                    href="./portfolio-case-studies-product.html">Case Studies
                                                    Product</a>
                                                <div class="dropdown-divider"></div>
                                                <a class="dropdown-item "
                                                    href="./portfolio-single-page-list.html">Single Page List</a>
                                                <a class="dropdown-item "
                                                    href="./portfolio-single-page-grid.html">Single Page Grid</a>
                                                <a class="dropdown-item "
                                                    href="./portfolio-single-page-masonry.html">Single Page Masonry</a>
                                            </div>
                                        </div>
                                        <div class="hs-has-sub-menu">
                                            <a id="navLinkPagesLogin"
                                                class="hs-mega-menu-invoker dropdown-item dropdown-item-toggle "
                                                href="javascript:;" aria-haspopup="true" aria-expanded="false"
                                                aria-controls="navSubmenuPagesLogin">Login &amp; Signup</a>

                                            <div id="navSubmenuPagesLogin" class="hs-sub-menu dropdown-menu"
                                                aria-labelledby="navLinkPagesLogin" style="min-width: 230px;">
                                                <a class="dropdown-item " href="./page-login.html">Login</a>
                                                <a class="dropdown-item " href="./page-signup.html">Signup</a>
                                                <a class="dropdown-item " href="./page-recover-account.html">Recover
                                                    Account</a>
                                                <div class="dropdown-divider"></div>
                                                <a class="dropdown-item " href="./page-login-simple.html">Login
                                                    Simple</a>
                                                <a class="dropdown-item " href="./page-signup-simple.html">Signup
                                                    Simple</a>
                                                <a class="dropdown-item "
                                                    href="./page-recover-account-simple.html">Recover Account Simple</a>
                                            </div>
                                        </div>
                                        <div class="hs-has-sub-menu">
                                            <a id="navLinkContactsServices"
                                                class="hs-mega-menu-invoker dropdown-item dropdown-item-toggle "
                                                href="javascript:;" aria-haspopup="true" aria-expanded="false"
                                                aria-controls="navSubmenuContactsServices">Contacts</a>

                                            <div id="navSubmenuContactsServices" class="hs-sub-menu dropdown-menu"
                                                aria-labelledby="navLinkContactsServices" style="min-width: 230px;">
                                                <a class="dropdown-item " href="./page-contacts-agency.html">Contacts
                                                    Agency</a>
                                                <a class="dropdown-item " href="./page-contacts-start-up.html">Contacts
                                                    Start-Up</a>
                                            </div>
                                        </div>
                                        <div class="hs-has-sub-menu">
                                            <a id="navLinkPagesUtilities"
                                                class="hs-mega-menu-invoker dropdown-item dropdown-item-toggle "
                                                href="javascript:;" aria-haspopup="true" aria-expanded="false"
                                                aria-controls="navSubmenuPagesUtilities">Utilities</a>

                                            <div id="navSubmenuPagesUtilities" class="hs-sub-menu dropdown-menu"
                                                aria-labelledby="navLinkPagesUtilities" style="min-width: 230px;">
                                                <a class="dropdown-item " href="./page-pricing.html">Pricing</a>
                                                <a class="dropdown-item " href="./page-faq.html">FAQ</a>
                                                <a class="dropdown-item " href="./page-terms.html">Terms &amp;
                                                    Conditions</a>
                                                <a class="dropdown-item " href="./page-privacy.html">Privacy &amp;
                                                    Policy</a>
                                            </div>
                                        </div>
                                        <div class="hs-has-sub-menu">
                                            <a id="navLinkPagesSpecialty"
                                                class="hs-mega-menu-invoker dropdown-item dropdown-item-toggle "
                                                href="javascript:;" aria-haspopup="true" aria-expanded="false"
                                                aria-controls="navSubmenuPagesSpecialty">Specialty</a>

                                            <div id="navSubmenuPagesSpecialty" class="hs-sub-menu dropdown-menu"
                                                aria-labelledby="navLinkPagesSpecialty" style="min-width: 230px;">
                                                <a class="dropdown-item " href="./page-cover-page.html">Cover Page</a>
                                                <a class="dropdown-item " href="./page-coming-soon.html">Coming Soon</a>
                                                <a class="dropdown-item "
                                                    href="./page-maintenance-mode.html">Maintenance Mode</a>
                                                <a class="dropdown-item " href="./page-status.html">Status</a>
                                                <a class="dropdown-item " href="./page-invoice.html">Invoice</a>
                                                <a class="dropdown-item " href="./page-error-404.html">Error 404</a>
                                            </div>
                                        </div>
                                    </div> -->
                                </li>
                                <li class="hs-has-sub-menu navbar-nav-item">
                                    <a id="blogMegaMenu" class="hs-mega-menu-invoker nav-link nav-link-toggle "
                                        href="javascript:;" aria-haspopup="true" aria-expanded="false"
                                        aria-labelledby="blogSubMenu">Features</a>
                                    <div id="blogSubMenu" class="hs-sub-menu dropdown-menu"
                                        aria-labelledby="blogMegaMenu" style="min-width: 230px;">
                                        <a class="dropdown-item " href="/screenshots">Screenshots</a>
                                        <a class="dropdown-item " href="/freaures">Features</a>
                                    </div>
                                </li>
                                <li class="hs-has-mega-menu navbar-nav-item">
                                    <a id="shopMegaMenu" class="hs-mega-menu-invoker nav-link "
                                        href="/whomadethis" aria-haspopup="true" aria-expanded="false">Who Made This</a>
                                        <div class="hs-mega-menu hs-position-right"></div>
                                </li>
                                <li class="hs-has-mega-menu navbar-nav-item">
                                    <a id="shopMegaMenu" class="hs-mega-menu-invoker nav-link "
                                        href="contactus" aria-haspopup="true" aria-expanded="false">Contact Us</a>
                                        <div class="hs-mega-menu hs-position-right"></div>
                                </li>
                                <li class="hs-has-sub-menu navbar-nav-item">
                                    <a id="account" class="hs-mega-menu-invoker nav-link nav-link-toggle "
                                        href="javascript:;" aria-haspopup="true" aria-expanded="false"
                                        aria-labelledby="blogSubMenu">Account</a>
                                    <div id="blogSubMenu" class="hs-sub-menu dropdown-menu"
                                        aria-labelledby="account" style="min-width: 230px;">
                                        <a class="dropdown-item " href="/login">Login</a>
                                        <a class="dropdown-item " href="/signup">SignUp</a>
                                    </div>
                                </li>
                                <li class="navbar-nav-last-item">
                                    <a class="btn btn-sm btn-primary transition-3d-hover"
                                        href="./download">Download</a>
                                </li>
                                <!-- End Button -->
                            </ul>
                        </div>
                    </div>
                    <!-- End Navigation -->
                </nav>
                <!-- End Nav -->
            </div>
        </div>
    </header>
    <!-- ========== END HEADER ========== -->

    <%- body %>

    <!-- ========== FOOTER ========== -->
    <footer class="bg-dark">
        <div class="container">
            <div class="space-top-2 space-bottom-1 space-bottom-lg-2">
                <div class="row justify-content-lg-between">
                    <div class="col-lg-3 ml-lg-auto mb-5 mb-lg-0">
                        <!-- Logo -->
                        <div class="mb-4">
                            <a href="index.html" aria-label="FreePos">
                                <img class="brand" src="./assets/svg/logos/logo-white.svg" alt="Logo">
                            </a>
                        </div>
                        <!-- End Logo -->

                        <!-- Nav Link -->
                        <ul class="nav nav-sm nav-x-0 nav-white flex-column">
                            <li class="nav-item">
                                <a class="nav-link media" href="javascript:;">
                                    <span class="media">
                                        <span class="fas fa-location-arrow mt-1 mr-2"></span>
                                        <span class="media-body">
                                            M79 IT Tower Hali Road Gulberg III Lahore Pakistan
                                        </span>
                                    </span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link media" href="tel:+923322282345">
                                    <span class="media">
                                        <span class="fas fa-phone-alt mt-1 mr-2"></span>
                                        <span class="media-body">
                                            +92 332 228 2345
                                        </span>
                                    </span>
                                </a>
                            </li>
                        </ul>
                        <!-- End Nav Link -->
                    </div>

                    <div class="col-6 col-md-3 col-lg mb-5 mb-lg-0">
                        <h5 class="text-white">Company</h5>

                        <!-- Nav Link -->
                        <ul class="nav nav-sm nav-x-0 nav-white flex-column">
                            <li class="nav-item"><a class="nav-link" href="#">About</a></li>
                            <li class="nav-item"><a class="nav-link" href="#">Careers <span
                                        class="badge badge-primary ml-1">We're hiring</span></a></li>
                            <li class="nav-item"><a class="nav-link" href="#">Blog</a></li>
                            <li class="nav-item"><a class="nav-link" href="#">Customers</a></li>
                            <li class="nav-item"><a class="nav-link" href="#">Hire us</a></li>
                        </ul>
                        <!-- End Nav Link -->
                    </div>

                    <div class="col-6 col-md-3 col-lg mb-5 mb-lg-0">
                        <h5 class="text-white">Features</h5>

                        <!-- Nav Link -->
                        <ul class="nav nav-sm nav-x-0 nav-white flex-column">
                            <li class="nav-item"><a class="nav-link" href="#">Press</a></li>
                            <li class="nav-item"><a class="nav-link" href="#">Release notes</a></li>
                            <li class="nav-item"><a class="nav-link" href="#">Integrations</a></li>
                            <li class="nav-item"><a class="nav-link" href="#">Pricing</a></li>
                        </ul>
                        <!-- End Nav Link -->
                    </div>

                    <div class="col-6 col-md-3 col-lg">
                        <h5 class="text-white">Documentation</h5>

                        <!-- Nav Link -->
                        <ul class="nav nav-sm nav-x-0 nav-white flex-column">
                            <li class="nav-item"><a class="nav-link" href="#">Support</a></li>
                            <li class="nav-item"><a class="nav-link" href="#">Docs</a></li>
                            <li class="nav-item"><a class="nav-link" href="#">Status</a></li>
                            <li class="nav-item"><a class="nav-link" href="#">API Reference</a></li>
                            <li class="nav-item"><a class="nav-link" href="#">Tech Requirements</a></li>
                        </ul>
                        <!-- End Nav Link -->
                    </div>

                    <div class="col-6 col-md-3 col-lg">
                        <h5 class="text-white">Resources</h5>

                        <!-- Nav Link -->
                        <ul class="nav nav-sm nav-x-0 nav-white flex-column">
                            <li class="nav-item">
                                <a class="nav-link" href="#">
                                    <span class="media align-items-center">
                                        <i class="fa fa-info-circle mr-2"></i>
                                        <span class="media-body">Help</span>
                                    </span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">
                                    <span class="media align-items-center">
                                        <i class="fa fa-user-circle mr-2"></i>
                                        <span class="media-body">Your Account</span>
                                    </span>
                                </a>
                            </li>
                        </ul>
                        <!-- End Nav Link -->
                    </div>
                </div>
            </div>

            <hr class="opacity-xs my-0">

            <div class="space-1">
                <div class="row align-items-md-center mb-7">
                    <div class="col-md-6 mb-4 mb-md-0">
                        <!-- Nav Link -->
                        <ul class="nav nav-sm nav-white nav-x-sm align-items-center">
                            <li class="nav-item">
                                <a class="nav-link" href="#">Privacy &amp; Policy</a>
                            </li>
                            <li class="nav-item opacity mx-3">&#47;</li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Terms</a>
                            </li>
                            <li class="nav-item opacity mx-3">&#47;</li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Site Map</a>
                            </li>
                        </ul>
                        <!-- End Nav Link -->
                    </div>

                    <div class="col-md-6 text-md-right">
                        <ul class="list-inline mb-0">
                            <!-- Social Networks -->
                            <li class="list-inline-item">
                                <a class="btn btn-xs btn-icon btn-soft-light" href="#">
                                    <i class="fab fa-facebook-f"></i>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a class="btn btn-xs btn-icon btn-soft-light" href="#">
                                    <i class="fab fa-google"></i>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a class="btn btn-xs btn-icon btn-soft-light" href="#">
                                    <i class="fab fa-twitter"></i>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a class="btn btn-xs btn-icon btn-soft-light" target="_blank" href="https://github.com/ravicosoftltd/FreePOS-wpf">
                                    <i class="fab fa-github"></i>
                                </a>
                            </li>
                            <!-- End Social Networks -->

                            <!-- Language -->
                            <li class="list-inline-item">
                                <div class="hs-unfold">
                                    <a class="js-hs-unfold-invoker dropdown-toggle btn btn-xs btn-soft-light"
                                        href="javascript:;" data-hs-unfold-options='{
                        "target": "#footerLanguage",
                        "type": "css-animation",
                        "animationIn": "slideInDown"
                       }'>
                                        <img class="dropdown-item-icon"
                                            src="./assets/vendor/flag-icon-css/flags/4x3/us.svg"
                                            alt="United States Flag">
                                        <span>United States</span>
                                    </a>

                                    <div id="footerLanguage"
                                        class="hs-unfold-content dropdown-menu dropdown-unfold dropdown-menu-bottom mb-2">
                                        <a class="dropdown-item active" href="#">English</a>
                                        <a class="dropdown-item" href="#">Deutsch</a>
                                        <a class="dropdown-item" href="#">Español</a>
                                        <a class="dropdown-item" href="#">Français</a>
                                        <a class="dropdown-item" href="#">Italiano</a>
                                        <a class="dropdown-item" href="#">日本語</a>
                                        <a class="dropdown-item" href="#">한국어</a>
                                        <a class="dropdown-item" href="#">Nederlands</a>
                                        <a class="dropdown-item" href="#">Português</a>
                                        <a class="dropdown-item" href="#">Русский</a>
                                    </div>
                                </div>
                            </li>
                            <!-- End Language -->
                        </ul>
                    </div>
                </div>

                <!-- Copyright -->
                <div class="w-md-75 text-lg-center mx-lg-auto">
                    <p class="text-white opacity-sm small">&copy; FreePos. 2020 Htmlstream. All rights reserved.</p>
                    <p class="text-white opacity-sm small">When you visit or interact with our sites, services or tools,
                        we or our authorised service providers may use cookies for storing information to help provide
                        you with a better, faster and safer experience and for marketing purposes.</p>
                </div>
                <!-- End Copyright -->
            </div>
        </div>
    </footer>
    <!-- ========== END FOOTER ========== -->

    <!-- Go to Top -->
    <a class="js-go-to go-to position-fixed" href="javascript:;" style="visibility: hidden;" data-hs-go-to-options='{
       "offsetTop": 700,
       "position": {
         "init": {
           "right": 15
         },
         "show": {
           "bottom": 15
         },
         "hide": {
           "bottom": -15
         }
       }
     }'>
        <i class="fas fa-angle-up"></i>
    </a>
    <!-- End Go to Top -->


    <!-- JS Implementing Plugins -->
    <script src="./assets/js/vendor.min.js"></script>

    <!-- JS FreePos -->
    <script src="./assets/js/theme.min.js"></script>

    <!-- JS Plugins Init. -->
    <script>
        $(document).on('ready', function () {
            // INITIALIZATION OF HEADER
            // =======================================================
            var header = new HSHeader($('#header')).init();


            // INITIALIZATION OF MEGA MENU
            // =======================================================
            var megaMenu = new HSMegaMenu($('.js-mega-menu'), {
                desktop: {
                    position: 'left'
                }
            }).init();


            // INITIALIZATION OF UNFOLD
            // =======================================================
            var unfold = new HSUnfold('.js-hs-unfold-invoker').init();


            // INITIALIZATION OF FORM VALIDATION
            // =======================================================
            $('.js-validate').each(function () {
                var validation = $.HSCore.components.HSValidation.init($(this));
            });


            // INITIALIZATION OF SLICK CAROUSEL
            // =======================================================
            $('.js-slick-carousel').each(function () {
                var slickCarousel = $.HSCore.components.HSSlickCarousel.init($(this));
            });


            // INITIALIZATION OF GO TO
            // =======================================================
            $('.js-go-to').each(function () {
                var goTo = new HSGoTo($(this)).init();
            });
        });
    </script>

    <!-- IE Support -->
    <script>
        if (/MSIE \d|Trident.*rv:/.test(navigator.userAgent)) document.write('<script src="./assets/vendor/babel-polyfill/dist/polyfill.js"><\/script>');
    </script>
</body>

</html>