<div class="js-slick-carousel slick slick-gutters-3 z-index-2" data-hs-slick-carousel-options='{
    "slidesToShow": 5,
    "dots": true,
    "dotsClass": "slick-pagination d-lg-none",
    "responsive": [{
      "breakpoint": 1200,
        "settings": {
          "slidesToShow": 4
        }
      }, {
      "breakpoint": 992,
      "settings": {
        "slidesToShow": 3
        }
      }, {
      "breakpoint": 768,
      "settings": {
        "slidesToShow": 2
        }
      }, {
      "breakpoint": 554,
      "settings": {
        "slidesToShow": 1
      }
    }]
  }'>
         <div class="js-slide mt-1">
             <!-- Icon Block -->
             <article class="card shadow-sm max-w-27rem transition-3d-hover mx-auto mb-5">
                 <div class="card-header bg-primary text-center rounded-lg-top">
                     <div class="avatar d-block bg-white rounded p-2 mx-auto">
                         <img class="avatar-img" src="./assets/img/160x160/img12.png"
                             alt="Image Description">
                     </div>
                 </div>
                 <div class="card-body">
                     <div class="mb-3">
                         <h2 class="h4 mb-1">Github</h2>
                         <small class="d-block text-body">View Code on Github</small>
                     </div>
                     <a class="btn btn-sm btn-block btn-primary" target="_blank" href="https://github.com/ravicosoftltd/FreePOS">Install</a>
                 </div>
             </article>
             <!-- End Icon Block -->
         </div>

         <div class="js-slide mt-1">
             <!-- Icon Block -->
             <article class="card shadow-sm max-w-27rem transition-3d-hover mx-auto mb-5">
                 <div class="card-header bg-danger text-center rounded-lg-top">
                     <div class="avatar d-block bg-white rounded p-2 mx-auto">
                         <img class="avatar-img" src="./assets/img/160x160/img13.png"
                             alt="Image Description">
                     </div>
                 </div>
                 <div class="card-body">
                     <div class="mb-3">
                         <h3 class="h4 mb-1">Build with C#</h3>
                         <small class="d-block text-body">Productivity</small>
                     </div>
                     <a class="btn btn-sm btn-block btn-primary" href="#">Install</a>
                 </div>
             </article>
             <!-- End Icon Block -->
         </div>

         <div class="js-slide mt-1">
             <!-- Icon Block -->
             <article class="card shadow-sm max-w-27rem transition-3d-hover mx-auto mb-5">
                 <div class="card-header bg-warning text-center rounded-lg-top">
                     <div class="avatar d-block bg-white rounded p-2 mx-auto">
                         <img class="avatar-img" src="./assets/img/160x160/img14.png"
                             alt="Image Description">
                     </div>
                 </div>
                 <div class="card-body">
                     <div class="mb-3">
                         <h4 class="mb-1">FrameWork</h4>
                         <small class="d-block text-body">Using WPF FrameWork</small>
                     </div>
                     <a class="btn btn-sm btn-block btn-primary" href="#">Install</a>
                 </div>
             </article>
             <!-- End Icon Block -->
         </div>

         <div class="js-slide mt-1">
             <!-- Icon Block -->
             <article class="card shadow-sm max-w-27rem transition-3d-hover mx-auto mb-5">
                 <div class="card-header bg-success text-center rounded-lg-top">
                     <div class="avatar d-block bg-white rounded p-2 mx-auto">
                         <img class="avatar-img" src="./assets/img/160x160/img15.png"
                             alt="Image Description">
                     </div>
                 </div>
                 <div class="card-body">
                     <div class="mb-3">
                         <h4 class="mb-1">Database</h4>
                         <small class="d-block text-body">Using Sql Darabase</small>
                     </div>
                     <a class="btn btn-sm btn-block btn-primary" href="#">Install</a>
                 </div>
             </article>
             <!-- End Icon Block -->
         </div>

         <div class="js-slide mt-1">
             <!-- Icon Block -->
             <article class="card shadow-sm max-w-27rem transition-3d-hover mx-auto mb-5">
                 <div class="card-header bg-primary text-center rounded-lg-top">
                     <div class="avatar d-block bg-white rounded p-2 mx-auto">
                         <img class="avatar-img" src="./assets/img/160x160/img16.png"
                             alt="Image Description">
                     </div>
                 </div>
                 <div class="card-body">
                     <div class="mb-3">
                         <h4 class="mb-1">DigitalOcean</h4>
                         <small class="d-block text-body">Cloud infrastructure</small>
                     </div>
                     <a class="btn btn-sm btn-block btn-primary" href="#">Install</a>
                 </div>
             </article>
             <!-- End Icon Block -->
         </div>
     </div>


































     <div class="container space-2 space-lg-3">
        <!-- Title -->
        <div class="w-md-80 w-lg-50 text-center mx-md-auto mb-5 mb-md-9">
            <h2>FreePos makes designing easy and performance fast</h2>
        </div>
        <!-- End Title -->

        <!-- Nav -->
        <div class="text-center">
            <ul class="nav nav-segment nav-pills scrollbar-horizontal mb-7" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="pills-one-code-features-tab" data-toggle="pill"
                        href="#pills-one-code-features" role="tab" aria-controls="pills-one-code-features"
                        aria-selected="true">App Marketplace</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="pills-two-code-features-tab" data-toggle="pill"
                        href="#pills-two-code-features" role="tab" aria-controls="pills-two-code-features"
                        aria-selected="false">Course</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="pills-three-code-features-tab" data-toggle="pill"
                        href="#pills-three-code-features" role="tab" aria-controls="pills-three-code-features"
                        aria-selected="false">Account Dashboard</a>
                </li>
            </ul>
        </div>
        <!-- End Nav -->

        <!-- Tab Content -->
        <div class="tab-content pr-lg-4">
            <div class="tab-pane fade show active" id="pills-one-code-features" role="tabpanel"
                aria-labelledby="pills-one-code-features-tab">
                <!-- Device Mockup -->
                <div class="device-wrapper">
                    <div class="device">
                        <img class="img-fluid" src="./assets/svg/components/macbook.svg" alt="Image Description">
                        <img class="device-macbook-screen" src="./assets/img/1618x1010/img2.jpg"
                            alt="Image Description">
                    </div>
                    <div class="device device-iphone-x">
                        <img class="device-iphone-x-frame" src="./assets/svg/components/iphone-x.svg"
                            alt="Image Description">
                        <img class="device-iphone-x-screen" src="./assets/img/407x867/img2.jpg"
                            alt="Image Description">
                    </div>
                </div>
                <!-- End Device Mockup -->
            </div>

            <div class="tab-pane fade" id="pills-two-code-features" role="tabpanel"
                aria-labelledby="pills-two-code-features-tab">
                <!-- Device Mockup -->
                <div class="device-wrapper">
                    <div class="device">
                        <img class="img-fluid" src="./assets/svg/components/macbook.svg" alt="Image Description">
                        <img class="device-macbook-screen" src="./assets/img/1618x1010/img1.jpg"
                            alt="Image Description">
                    </div>
                    <div class="device device-iphone-x">
                        <img class="device-iphone-x-frame" src="./assets/svg/components/iphone-x.svg"
                            alt="Image Description">
                        <img class="device-iphone-x-screen" src="./assets/img/407x867/img4.jpg"
                            alt="Image Description">
                    </div>
                </div>
                <!-- End Device Mockup -->
            </div>

            <div class="tab-pane fade" id="pills-three-code-features" role="tabpanel"
                aria-labelledby="pills-three-code-features-tab">
                <!-- Device Mockup -->
                <div class="device-wrapper">
                    <div class="device">
                        <img class="img-fluid" src="./assets/svg/components/macbook.svg" alt="Image Description">
                        <img class="device-macbook-screen" src="./assets/img/1618x1010/img3.jpg"
                            alt="Image Description">
                    </div>
                    <div class="device device-iphone-x">
                        <img class="device-iphone-x-frame" src="./assets/svg/components/iphone-x.svg"
                            alt="Image Description">
                        <img class="device-iphone-x-screen" src="./assets/img/407x867/img3.jpg"
                            alt="Image Description">
                    </div>
                </div>
                <!-- End Device Mockup -->
            </div>
        </div>
        <!-- End Tab Content -->
    </div>