<% layout('./layout') -%>
<style>
@font-face {
	 font-family: "ubuntu";
	 font-style: italic;
	 font-weight: 300;
	 src: local("Lato Light Italic"), local("Lato-LightItalic"), url(https://fonts.gstatic.com/s/ubuntucondensed/v8/u-4k0rCzjgs5J7oXnJcM_0kACGMtT-Dfqw.woff2) format("woff2");
}

 a {
	 text-decoration: none;
	 color: #9ca0b1;
}
 .wrapper {
	 text-align: center;
}
 .wrapper h1 {
	 color: #fff;
	 font-size: 92px;
	 font-family: "ubuntu";
	 text-transform: uppercase;
	 font-weight: 700;
	 font-family: "Josefin Sans", sans-serif;
	 background: linear-gradient(to right, #095fab 10%, #25abe8 50%, #57d75b 60%);
	 background-size: auto auto;
	 background-clip: border-box;
	 background-size: 200% auto;
	 color: #fff;
	 background-clip: text;
	 text-fill-color: transparent;
	 -webkit-background-clip: text;
	 -webkit-text-fill-color: transparent;
	 animation: textclip 1.5s linear infinite;
	 display: inline-block;
}
 .wrapper p {
	 color: #fff;
	 font-family: "ubuntu";
	 text-transform: uppercase;
	 font-family: "Josefin Sans", sans-serif;
	 background: linear-gradient(to right, #095fab 10%, #25abe8 50%, #57d75b 60%);
	 background-size: auto auto;
	 background-clip: border-box;
	 background-size: 200% auto;
	 color: #fff;
	 background-clip: text;
	 text-fill-color: transparent;
	 -webkit-background-clip: text;
	 -webkit-text-fill-color: transparent;
	 animation: textclip 1.5s linear infinite;
	 display: inline-block;
}
 @keyframes textclip {
	 to {
		 background-position: 200% center;
	}
}


</style>
<main id="content" role="main">
    <!-- Hero Section -->
    <div class="gradient-y-sm-primary position-relative z-index-2 overflow-hidden">
        <div class="container space-top-2 space-top-lg-4 position-relative">
            <!-- Title -->
            <div class="w-md-80 w-lg-50 text-center mx-md-auto mb-5 mb-md-9">
                <div class="wrapper">
                    <h1 class="display-4 mb-3 mainheading">FreePOS</h1>
                    <p class="lead">FreePOS is the free point of sales, inventory management, and accounting software. FreePOS decreases the gaps between customers to sellers. `Lets go over the horizon`</p>
                </div>
                <button class="btn btn-primary" onclick="navigatetolink('github.com/ravicosoftltd/FreePOS/releases/latest/download/FreePOS.Setup.msi')" >Download</button>
            </div>
            <!-- End Title -->

            <!-- Slick Carousel -->

            <!-- End Slick Carousel -->

            <!-- SVG Shapes -->
            <figure class="position-absolute z-index-n1"
                style="top: -35rem; left: 50rem; width: 62rem; height: 62rem;">
                <svg preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
                    viewBox="0 0 260 260">
                    <circle fill="#e7eaf3" opacity=".7" cx="130" cy="130" r="130" />
                </svg>
            </figure>
            <figure class="position-absolute z-index-n1"
                style="top: 15rem; left: 70rem; width: 20rem; height: 20rem;">
                <img class="img-fluid" src="./assets/svg/components/circled-stripe.svg" alt="Image Description">
            </figure>
            <figure class="position-absolute z-index-n1 bg-dark"
                style="bottom: 7rem; left: -17rem; width: 15rem; height: 26rem;    bottom: 7rem;
                left: -17rem;
                width: 50rem;
                height: 18rem;
                position: relative;
                /* position: relative !important; */
                top: 4rem;
                /* width: 42rem; */
                left: -6rem;">



                <!-- <img class="img-fluid" src="./assets/svg/components/dots-3.svg" alt="Image Description"> -->





                <!-- <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                      <div class="carousel-item active" data-bs-interval="10000">
                        <img src="../img/slider/first.jpg" class="d-block w-100" alt="this si sdfs">
                      </div>
                      <div class="carousel-item" data-bs-interval="2000">
                        <img src="../img/slider/second.jpg" class="d-block w-100" alt="This is test">
                      </div>
                      <div class="carousel-item">
                        <img src="../img/slider/third.jpg" class="d-block w-100" alt="asdfaldkfj as">
                      </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                    </button>
                  </div> -->





                  <!-- <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                    </div>
                    <div class="carousel-inner">
                      <div class="carousel-item active">
                        <img src="../img/slider/first.jpg" class="d-block w-100" alt="...">
                      </div>
                      <div class="carousel-item">
                        <img src="../img/slider/second.jpg" class="d-block w-100" alt="...">
                      </div>
                      <div class="carousel-item">
                        <img src="../img/slider/third.jpg" class="d-block w-100" alt="...">
                      </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                    </button>
                  </div> -->


                  <!-- <div id="carouselExampleControlsNoTouching" class="carousel slide" data-bs-touch="false" data-bs-interval="false">
                    <div class="carousel-inner">
                      <div class="carousel-item active">
                        <img src="../img/screenshots/1.png" class="d-block w-100" alt="...">
                      </div>
                      <div class="carousel-item">
                        <img src="../img/screenshots/2.png" class="d-block w-100" alt="...">
                      </div>
                      <div class="carousel-item">
                        <img src="../img/screenshots/3.png" class="d-block w-100" alt="...">
                      </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControlsNoTouching" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControlsNoTouching" data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                    </button>
                  </div> -->









                  <!-- <div id="carouselExampleControlsNoTouching" class="carousel slide" data-bs-touch="false" data-bs-interval="false"data-interval="1000000000000000000000000000000000000000000000000000000000000000000000000000000000000">
                    <div class="carousel-inner">
                      <div class="carousel-item active">
                        <img src="../img/screenshots/1.png" class="d-block w-100" alt="...">
                      </div>
                      <div class="carousel-item">
                        <img src="../img/screenshots/2.png" class="d-block w-100" alt="...">
                      </div>
                      <div class="carousel-item">
                        <img src="../img/screenshots/3.png" class="d-block w-100" alt="...">
                      </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControlsNoTouching" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControlsNoTouching" data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                    </button>
                  </div> -->

                  <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
                    <div class="carousel-inner">
                      <div class="carousel-item active">
                        <img src="../img/screenshots/1.png" class="d-block w-100" alt="...">
                      </div>
                      <div class="carousel-item">
                        <img src="../img/screenshots/2.png" class="d-block w-100" alt="...">
                      </div>
                      <div class="carousel-item">
                        <img src="../img/screenshots/3.png" class="d-block w-100" alt="...">
                      </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                    </button>
                  </div>


                  <!-- <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
                      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
                    </div>
                    <div class="carousel-inner">
                      <div class="carousel-item active" data-bs-interval="10000">
                        <img src="../img/slider/first.jpg" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                          <h5>First slide label</h5>
                          <p>Some representative placeholder content for the first slide.</p>
                        </div>
                      </div>
                      <div class="carousel-item" data-bs-interval="2000">
                        <img src="../img/slider/second.jpg" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                          <h5>Second slide label</h5>
                          <p>Some representative placeholder content for the second slide.</p>
                        </div>
                      </div>
                      <div class="carousel-item">
                        <img src="../img/slider/third.jpg" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                          <h5>Third slide label</h5>
                          <p>Some representative placeholder content for the third slide.</p>
                        </div>
                      </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                    </button>
                  </div> -->




















            </figure>
            <!-- End SVG Shapes -->
        </div>

        <!-- SVG Bottom Shape -->
        <!-- <figure class="position-absolute right-0 bottom-0 left-0">
            <svg preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
                viewBox="0 0 1921 273">
                <polygon fill="#fff" points="0,273 1921,273 1921,0 " />
            </svg>
        </figure> -->
        <!-- End SVG Bottom Shape -->
    </div>
    <!-- End Hero Section -->

    <!-- Features Section -->
    <div class="overflow-hidden">
        <div class="container space-top-2 space-top-lg-3 space-bottom-3">
            <!-- Title -->
            <div class="w-md-80 w-lg-50 text-center mx-md-auto mb-5 mb-md-9">
                <h2>Features built for scale</h2>
                <p>Get insights to dig down into what's powering your growth the most.</p>
            </div>
            <!-- End Title -->

            <div class="row">
                <div class="col-lg-8 mb-7 mb-lg-0">
                    <div class="row">
                        <div class="col-sm-6 mb-3 mb-sm-7">
                            <!-- Icon Blocks -->
                            <div class="pr-lg-6">
                                <figure class="max-w-6rem w-100 mb-4">
                                    <img class="img-fluid" src="./assets/svg/icons/icon-2.svg" alt="SVG">
                                </figure>
                                <h3 class="h4">Open Source</h3>
                                <p class="text-body">FreePos is fully open source all sourcecode is avalible on github</p>
                                <button class="btn btn-primary btn-sm ">View on Github</button>
                            </div>
                            <!-- End Icon Blocks -->
                        </div>

                        <div class="col-sm-6 mb-3 mb-sm-7">
                            <!-- Icon Blocks -->
                            <div class="pr-lg-6">
                                <figure class="max-w-6rem w-100 mb-4">
                                    <img class="img-fluid" src="./assets/svg/icons/icon-1.svg" alt="SVG">
                                </figure>
                                <h4>Build with C#</h4>
                                <p class="text-body">FreePos is build in C# for best performeance</p>
                            </div>
                            <!-- End Icon Blocks -->
                        </div>

                        <div class="col-sm-6 mb-3 mb-sm-0">
                            <!-- Icon Blocks -->
                            <div class="pr-lg-6">
                                <figure class="max-w-6rem w-100 mb-4">
                                    <img class="img-fluid" src="./assets/svg/icons/icon-15.svg" alt="SVG">
                                </figure>
                                <h4>EPF</h4>
                                <p class="text-body">FreePos is using WPF framework</p>
                            </div>
                            <!-- End Icon Blocks -->
                        </div>

                        <div class="col-sm-6 mb-sm-0">
                            <!-- Icon Blocks -->
                            <div class="pr-lg-6">
                                <figure class="max-w-6rem w-100 mb-4">
                                    <img class="img-fluid" src="./assets/svg/icons/icon-26.svg" alt="SVG">
                                </figure>
                                <h4>Forecasting</h4>
                                <p class="text-body">Staying focused allows us to turn every project we complete
                                    into something we love.</p>
                            </div>
                            <!-- End Icon Blocks -->
                        </div>
                    </div>
                </div>

                <div class="col-sm-8 col-md-6 col-lg-4">
                    <!-- Article -->
                    <article class="position-relative">
                        <a class="card shadow-none bg-img-hero w-100 min-h-450rem transition-3d-hover" href="/download"
                            style="background-image: url(./assets/img/400x500/img26.jpg);">
                            <div class="card-body">
                                <h4>Download FreePos</h4>
                                <p class="text-body">Fully Free and open source Point Of Sale</p>
                            </div>
                            <div class="card-footer border-0 bg-transparent pt-0">
                                <span class="font-weight-bold">Browse tools <i
                                        class="fas fa-angle-right fa-sm ml-1"></i></span>
                            </div>
                        </a>

                        <!-- SVG Elements -->
                        <figure class="max-w-19rem w-100 position-absolute bottom-0 right-0 z-index-n1">
                            <div class="mb-n7 mr-n7">
                                <img class="img-fluid" src="./assets/svg/components/dots-2.svg"
                                    alt="Image Description">
                            </div>
                        </figure>
                        <!-- End SVG Elements -->
                    </article>
                    <!-- End Article -->
                </div>
            </div>
        </div>
    </div>
    <!-- End Features Section -->

    <!-- CTA Section -->
    <div class="container">
        <div class="w-lg-85 mx-lg-auto">
            <div class="card overflow-hidden p-4">
                <div class="row justify-content-md-start align-items-md-center text-center text-md-left">
                    <div class="col-md-5 offset-md-3 mb-3 mb-md-0">
                        <h3 class="h4 mb-0">Revolutionizing the way your team works!</h3>
                    </div>
                    <div class="col-md-4 text-md-right">
                        <a class="btn btn-primary transition-3d-hover" href="#">Get Started</a>
                    </div>
                </div>

                <!-- SVG Component -->
                <figure class="w-25 d-none d-md-block position-absolute top-0 left-0 mt-n2">
                    <img class="img-fluid" src="./assets/svg/illustrations/apps.svg" alt="Image Description">
                </figure>
                <!-- End SVG Component -->
            </div>
        </div>
    </div>
    <!-- End CTA Section -->

    <!-- Features Section -->
    <div class="container space-2 space-lg-3">
        <!-- Title -->
        <div class="w-md-80 w-lg-50 text-center mx-md-auto mb-5 mb-md-9">
            <h2>FreePos makes designing easy and performance fast</h2>
        </div>
        <!-- End Title -->

        <!-- Nav -->
        <div class="text-center">
            <ul class="nav nav-segment nav-pills scrollbar-horizontal mb-7" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="pills-one-code-features-tab" data-toggle="pill"
                        href="#pills-one-code-features" role="tab" aria-controls="pills-one-code-features"
                        aria-selected="true">App Marketplace</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="pills-two-code-features-tab" data-toggle="pill"
                        href="#pills-two-code-features" role="tab" aria-controls="pills-two-code-features"
                        aria-selected="false">Course</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="pills-three-code-features-tab" data-toggle="pill"
                        href="#pills-three-code-features" role="tab" aria-controls="pills-three-code-features"
                        aria-selected="false">Account Dashboard</a>
                </li>
            </ul>
        </div>
        <!-- End Nav -->

        <!-- Tab Content -->
        <div class="tab-content pr-lg-4">
            <div class="tab-pane fade show active" id="pills-one-code-features" role="tabpanel"
                aria-labelledby="pills-one-code-features-tab">
                <!-- Device Mockup -->
                <div class="device-wrapper">
                    <div class="device">
                        <img class="img-fluid" src="./assets/svg/components/macbook.svg" alt="Image Description">
                        <img class="device-macbook-screen" src="./assets/img/1618x1010/img2.jpg"
                            alt="Image Description">
                    </div>
                    <div class="device device-iphone-x">
                        <img class="device-iphone-x-frame" src="./assets/svg/components/iphone-x.svg"
                            alt="Image Description">
                        <img class="device-iphone-x-screen" src="./assets/img/407x867/img2.jpg"
                            alt="Image Description">
                    </div>
                </div>
                <!-- End Device Mockup -->
            </div>

            <div class="tab-pane fade" id="pills-two-code-features" role="tabpanel"
                aria-labelledby="pills-two-code-features-tab">
                <!-- Device Mockup -->
                <div class="device-wrapper">
                    <div class="device">
                        <img class="img-fluid" src="./assets/svg/components/macbook.svg" alt="Image Description">
                        <img class="device-macbook-screen" src="./assets/img/1618x1010/img1.jpg"
                            alt="Image Description">
                    </div>
                    <div class="device device-iphone-x">
                        <img class="device-iphone-x-frame" src="./assets/svg/components/iphone-x.svg"
                            alt="Image Description">
                        <img class="device-iphone-x-screen" src="./assets/img/407x867/img4.jpg"
                            alt="Image Description">
                    </div>
                </div>
                <!-- End Device Mockup -->
            </div>

            <div class="tab-pane fade" id="pills-three-code-features" role="tabpanel"
                aria-labelledby="pills-three-code-features-tab">
                <!-- Device Mockup -->
                <div class="device-wrapper">
                    <div class="device">
                        <img class="img-fluid" src="./assets/svg/components/macbook.svg" alt="Image Description">
                        <img class="device-macbook-screen" src="./assets/img/1618x1010/img3.jpg"
                            alt="Image Description">
                    </div>
                    <div class="device device-iphone-x">
                        <img class="device-iphone-x-frame" src="./assets/svg/components/iphone-x.svg"
                            alt="Image Description">
                        <img class="device-iphone-x-screen" src="./assets/img/407x867/img3.jpg"
                            alt="Image Description">
                    </div>
                </div>
                <!-- End Device Mockup -->
            </div>
        </div>
        <!-- End Tab Content -->
    </div>
    <!-- End Features Section -->

    <!-- Stories Section -->
    <div class="bg-dark">
        <div class="container space-top-2">
            <div class="row justify-content-md-between mb-6">
                <div class="col-md-6 col-lg-5 mb-3 mb-md-0">
                    <h2 class="text-white font-weight-normal">Subscribe to get the latest from FreePos</h2>
                </div>

                <!-- Form -->
                <div class="col-md-6">
                    <form class="js-validate mb-2">
                        <label class="sr-only" for="signupSrEmail">Email</label>
                        <div class="input-group">
                            <input type="email" class="form-control" name="email" id="signupSrEmail"
                                placeholder="Your email address" aria-label="Your email address" required>
                            <div class="input-group-append">
                                <button type="submit" class="btn btn-block btn-primary">Subscribe</button>
                            </div>
                        </div>
                    </form>
                    <!-- End Form -->

                    <p class="small text-white-70">You can unsubscribe at any time.</p>
                </div>
            </div>

            <hr class="opacity-xs my-0">
        </div>
    </div>
    <!-- End Stories Section -->
</main>


<script>
    function navigatetopageblank(link){
        window.open("/"+link,"_blank")

    }
    function navigatetopage(link){
        location.replace("/"+link)

    }
    function navigatetolinkblank(link){
        window.open("https://"+link)

    }
    function navigatetolink(link){
        location.replace("https://"+link)

    }
</script>
<!-- onclick="navigatetolinkblank('github.com/ravicosoftltd/businessbook-desktop/releases/latest/download/BusinessBook.Setup.zip')"
onclick="navigatetolinkblank('github.com/ravicosoftltd/businessbook-desktop')" -->