<section class="single-page-title">
    <div class="container text-center">
        <h2>Who Made This</h2>
    </div>
</section>


<section class="team ptb-100">
    <section class="section-title">
        <div class="container text-center">
            <h2>Our Team</h2>
            <span class="bordered-icon"><i class="fa fa-circle-thin"></i></span>
        </div>
    </section>
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <figure class="thumbnail">
                    <a href="#"><img src="img/employee/atta.png" class="img-responsive" alt="Image"></a>
                    <figcaption class="caption text-center">
                        <h3>Atta Rasool
                            <small>Director & Founder</small>
                        </h3>
                        <h3>
                            Contact No
                            <a href="tel:+923024759550">+92 302 4759550</a>
                        </h3>
                    </figcaption>
                </figure>
            </div>
  
            <div class="col-sm-4">
                <figure class="thumbnail">
                    <a href="#"><img src="img/employee/alif.png" class="img-responsive" alt="Image"></a>
                    <figcaption class="caption text-center">
                        <h3>Ali Faraz
                            <small>Founder</small>
                        </h3>
                        <h3>
                            Contact No
                            <a href="tel:+923069600653">+92 306 9600653</a>
                        </h3>
                    </figcaption>
                </figure>
            </div>
  
            <div class="col-sm-4">
                <figure class="thumbnail">
                    <a href="#"><img src="img/employee/hasnat.png" class="img-responsive" alt="Image"></a>
                    <figcaption class="caption text-center">
                        <h3>Muhammad Hasnat
                            <small>Frontend Develper</small>
                        </h3>
                        <h3>
                            Contact No
                            <a href="tel:+923151463744">+92 315 1463744</a>
                        </h3>
                    </figcaption>
                </figure>
            </div>
  
        </div>
  
        <div class="row">
            <div class="col-sm-4">
                <figure class="thumbnail">
                    <a href="#"><img src="img/employee/jawad.png" class="img-responsive" alt="Image"></a>
                    <figcaption class="caption text-center">
                        <h3>Jawad Hussain
                            <small>Director</small>
                        </h3>
                        <h3>
                            Contact No
                            <a href="tel:+923407170308">+92 340 7170308</a>
                        </h3>
                    </figcaption>
                </figure>
            </div>
  
            <div class="col-sm-4">
                <figure class="thumbnail">
                    <a href="#"><img src="img/employee/umar.png" class="img-responsive" alt="Image"></a>
                    <figcaption class="caption text-center">
                        <h3>Muhammad Umar Habbib
                            <small>Founder</small>
                        </h3>
                        <h3>
                            Contact No
                            <a href="tel:+923088684021">+92 308 8684021</a>
                        </h3>
                    </figcaption>
                </figure>
            </div>
  

  
        </div>
  
    </div>
  
  </section>