<% layout('./layout') -%>

    <main id="content" role="main">
        <!-- Contact Form Section -->
        <div class="container space-top-3 space-top-lg-4 space-bottom-2">
            <div class="row">
                <div class="col-lg-6 mb-9 mb-lg-0">
                    <div class="mb-5">
                        <h1>Get in touch</h1>
                        <p>We'd love to talk about how we can help you.</p>
                    </div>

                    <!-- Leaflet -->
                    <div id="map" class="min-h-300rem mb-5" data-hs-leaflet-options='{
                 "map": {
                   "scrollWheelZoom": false,
                   "coords": [37.4040344, -122.0289704]
                 },
                 "marker": [
                   {
                     "coords": [37.4040344, -122.0289704],
                     "icon": {
                       "iconUrl": "./assets/svg/components/map-pin.svg",
                       "iconSize": [50, 45]
                     },
                     "popup": {
                       "text": "M79 IT Tower Hali Road Gulberg III Lahore Pakistan"
                     }
                   }
                 ]
                }'></div>
                    <!-- End Leaflet -->

                    <div class="row">
                        <div class="col-sm-6">
                            <div class="mb-3">
                                <span class="d-block h5 mb-1">Call us:</span>
                                <span class="d-block text-body font-size-1">+92 332 228 2345</span>
                            </div>

                            <div class="mb-3">
                                <span class="d-block h5 mb-1">Email us:</span>
                                <span class="d-block text-body font-size-1">admin@freepos.pk</span>
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="mb-3">
                                <span class="d-block h5 mb-1">Address:</span>
                                <span class="d-block text-body font-size-1">M79 IT Tower Hali Road Gulberg III Lahore Pakistan</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="ml-lg-5">
                        <!-- Form -->
                        <form class="js-validate card shadow-lg mb-4" action="/contactus" method="POST">
                            <div class="card-header border-0 bg-light text-center py-4 px-4 px-md-6">
                                <h2 class="h4 mb-0">General Enquiries</h2>
                            </div>

                            <div class="card-body p-4 p-md-6">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <!-- Form Group -->
                                        <div class="js-form-message form-group">
                                            <label for="firstName" class="input-label">First name</label>
                                            <input type="text" class="form-control" name="firstName" id="firstName" placeholder="Nataly" aria-label="Nataly" required data-msg="Please enter first your name">
                                        </div>
                                        <!-- End Form Group -->
                                    </div>

                                    <div class="col-sm-6">
                                        <!-- Form Group -->
                                        <div class="js-form-message form-group">
                                            <label for="lastName" class="input-label">Last name</label>
                                            <input type="text" class="form-control" name="lastName" id="lastName" placeholder="Gaga" aria-label="Gaga" required data-msg="Please enter last your name">
                                        </div>
                                        <!-- End Form Group -->
                                    </div>

                                    <div class="col-sm-12">
                                        <!-- Form Group -->
                                        <div class="js-form-message form-group">
                                            <label for="emailAddress" class="input-label">Email address</label>
                                            <input type="email" class="form-control" name="emailAddress" id="emailAddress" placeholder="nayagaga@pixeel.com" aria-label="alex@pixeel.com" required data-msg="Please enter a valid email address">
                                        </div>
                                        <!-- End Form Group -->
                                    </div>

                                    <div class="col-sm-12">
                                        <!-- Form Group -->
                                        <div class="js-form-message form-group">
                                            <label for="message" class="input-label">Message</label>
                                            <div class="input-group">
                                                <textarea class="form-control" rows="4" name="message" id="message" placeholder="Hi there, I would like to ..." aria-label="Hi there, I would like to ..." required data-msg="Please enter a reason."></textarea>
                                            </div>
                                        </div>
                                        <!-- End Form Group -->
                                    </div>
                                </div>

                                <button type="submit" class="btn btn-block btn-primary transition-3d-hover">Submit</button>
                            </div>
                        </form>
                        <!-- End Form -->

                        <div class="text-center">
                            <p class="small">We'll get back to you in 1-2 business days.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <!-- ========== SECONDARY CONTENTS ========== -->
    <!-- Sign Up Modal -->
    <div class="modal fade" id="signupModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <!-- Header -->
                <div class="modal-close">
                    <button type="button" class="btn btn-icon btn-sm btn-ghost-secondary" data-dismiss="modal" aria-label="Close">
            <svg width="10" height="10" viewBox="0 0 18 18" xmlns="http://www.w3.org/2000/svg">
              <path fill="currentColor" d="M11.5,9.5l5-5c0.2-0.2,0.2-0.6-0.1-0.9l-1-1c-0.3-0.3-0.7-0.3-0.9-0.1l-5,5l-5-5C4.3,2.3,3.9,2.4,3.6,2.6l-1,1 C2.4,3.9,2.3,4.3,2.5,4.5l5,5l-5,5c-0.2,0.2-0.2,0.6,0.1,0.9l1,1c0.3,0.3,0.7,0.3,0.9,0.1l5-5l5,5c0.2,0.2,0.6,0.2,0.9-0.1l1-1 c0.3-0.3,0.3-0.7,0.1-0.9L11.5,9.5z"/>
            </svg>
          </button>
                </div>
                <!-- End Header -->

                <!-- Body -->
                <div class="modal-body p-sm-5">
                    <form class="js-validate">
                        <!-- Sign in -->
                        <div id="signinModalForm">
                            <div class="text-center mb-5">
                                <h2>Sign in</h2>
                                <p>Don't have an account yet?
                                    <a class="js-animation-link" href="javascript:;" data-hs-show-animation-options='{
                         "targetSelector": "#signupModalForm",
                         "groupName": "idForm"
                       }'>Sign up here</a>
                                </p>
                            </div>

                            <a class="btn btn-block btn-white mb-2" href="#">
                  <span class="d-flex justify-content-center align-items-center">
                    <img class="avatar avatar-xss mr-2" src="./assets/svg/brands/google.svg" alt="Image Description">
                    Sign in with Google
                  </span>
              </a>

                            <a class="js-animation-link btn btn-block btn-primary mb-2" href="#" data-hs-show-animation-options='{
                     "targetSelector": "#signinWithEmailModalForm",
                     "groupName": "idForm"
                   }'>Sign in with Email</a>
                        </div>
                        <!-- End Sign in -->

                        <!-- Sign in with Modal -->
                        <div id="signinWithEmailModalForm" style="display: none; opacity: 0;">
                            <div class="text-center mb-5">
                                <h2>Sign in</h2>
                                <p>Don't have an account yet?
                                    <a class="js-animation-link" href="javascript:;" data-hs-show-animation-options='{
                         "targetSelector": "#signupModalForm",
                         "groupName": "idForm"
                       }'>Sign up here</a>
                                </p>
                            </div>

                            <!-- Form Group -->
                            <div class="js-form-message form-group">
                                <label class="input-label" for="signinModalFormSrEmail">Your email</label>
                                <input type="email" class="form-control" name="email" id="signinModalFormSrEmail" placeholder="email@address.com" aria-label="email@address.com" required data-msg="Please enter a valid email address.">
                            </div>
                            <!-- End Form Group -->

                            <!-- Form Group -->
                            <div class="js-form-message form-group">
                                <label class="input-label" for="signinModalFormSrPassword">
                    <span class="d-flex justify-content-between align-items-center">
                      Password
                      <a class="js-animation-link link text-muted" href="javascript:;"
                         data-hs-show-animation-options='{
                           "targetSelector": "#forgotPasswordModalForm",
                           "groupName": "idForm"
                         }'>Forgot Password?</a>
                    </span>
                </label>
                                <input type="password" class="form-control" name="password" id="signinModalFormSrPassword" placeholder="8+ characters required" aria-label="8+ characters required" required data-msg="Your password is invalid. Please try again.">
                            </div>
                            <!-- End Form Group -->

                            <button type="submit" class="btn btn-block btn-primary">Sign in</button>
                        </div>
                        <!-- End Sign in with Modal -->

                        <!-- Sign up -->
                        <div id="signupModalForm" style="display: none; opacity: 0;">
                            <div class="text-center mb-5">
                                <h2>Sign up</h2>
                                <p>Already have an account?
                                    <a class="js-animation-link" href="javascript:;" data-hs-show-animation-options='{
                         "targetSelector": "#signinModalForm",
                         "groupName": "idForm"
                       }'>Sign in here</a>
                                </p>
                            </div>

                            <a class="btn btn-block btn-white mb-2" href="#">
                  <span class="d-flex justify-content-center align-items-center">
                    <img class="avatar avatar-xss mr-2" src="./assets/svg/brands/google.svg" alt="Image Description">
                    Sign up with Google
                  </span>
              </a>

                            <a class="js-animation-link btn btn-block btn-primary mb-2" href="#" data-hs-show-animation-options='{
                     "targetSelector": "#signupWithEmailModalForm",
                     "groupName": "idForm"
                   }'>Sign up with Email</a>

                            <div class="text-center mt-3">
                                <p class="font-size-1 mb-0">By continuing you agree to our <a href="#">Terms and Conditions</a></p>
                            </div>
                        </div>
                        <!-- End Sign up -->

                        <!-- Sign up with Modal -->
                        <div id="signupWithEmailModalForm" style="display: none; opacity: 0;">
                            <div class="text-center mb-5">
                                <h2>Sign up</h2>
                                <p>Already have an account?
                                    <a class="js-animation-link" href="javascript:;" data-hs-show-animation-options='{
                         "targetSelector": "#signinModalForm",
                         "groupName": "idForm"
                       }'>Sign in here</a>
                                </p>
                            </div>

                            <!-- Form Group -->
                            <div class="js-form-message form-group">
                                <label class="input-label" for="signupModalFormSrEmail">Your email</label>
                                <input type="email" class="form-control" name="email" id="signupModalFormSrEmail" placeholder="email@address.com" aria-label="email@address.com" required data-msg="Please enter a valid email address.">
                            </div>
                            <!-- End Form Group -->

                            <!-- Form Group -->
                            <div class="js-form-message form-group">
                                <label class="input-label" for="signupModalFormSrPassword">Password</label>
                                <input type="password" class="form-control" name="password" id="signupModalFormSrPassword" placeholder="8+ characters required" aria-label="8+ characters required" required data-msg="Your password is invalid. Please try again.">
                            </div>
                            <!-- End Form Group -->

                            <!-- Form Group -->
                            <div class="js-form-message form-group">
                                <label class="input-label" for="signupModalFormSrConfirmPassword">Confirm password</label>
                                <input type="password" class="form-control" name="confirmPassword" id="signupModalFormSrConfirmPassword" placeholder="8+ characters required" aria-label="8+ characters required" required data-msg="Password does not match the confirm password.">
                            </div>
                            <!-- End Form Group -->

                            <button type="submit" class="btn btn-block btn-primary">Sign up</button>

                            <div class="text-center mt-3">
                                <p class="font-size-1 mb-0">By continuing you agree to our <a href="#">Terms and Conditions</a></p>
                            </div>
                        </div>
                        <!-- End Sign up with Modal -->

                        <!-- Forgot Password -->
                        <div id="forgotPasswordModalForm" style="display: none; opacity: 0;">
                            <div class="text-center mb-5">
                                <h2>Forgot password?</h2>
                                <p>Enter the email address you used when you joined and we'll send you instructions to reset your password.</p>
                            </div>

                            <!-- Form Group -->
                            <div class="js-form-message form-group">
                                <label class="input-label" for="resetPasswordSrEmail" tabindex="0">
                  <span class="d-flex justify-content-between align-items-center">
                    Your email
                    <a class="js-animation-link d-flex align-items-center link text-muted" href="javascript:;"
                       data-hs-show-animation-options='{
                         "targetSelector": "#signinModalForm",
                         "groupName": "idForm"
                       }'>
                      <i class="fas fa-angle-left mr-2"></i> Back to Sign in
                    </a>
                  </span>
                </label>
                                <input type="email" class="form-control" name="email" id="resetPasswordSrEmail" tabindex="1" placeholder="Enter your email address" aria-label="Enter your email address" required data-msg="Please enter a valid email address.">
                            </div>
                            <!-- End Form Group -->

                            <button type="submit" class="btn btn-block btn-primary">Submit</button>
                        </div>
                        <!-- End Forgot Password -->
                    </form>
                </div>
                <!-- End Body -->

                <!-- Footer -->
                <div class="modal-footer d-block text-center py-sm-5">
                    <small class="text-cap mb-4">Trusted by the world's best teams</small>

                    <div class="w-85 mx-auto">
                        <div class="row justify-content-between">
                            <div class="col">
                                <img class="img-fluid" src="./assets/svg/brands/gitlab-gray.svg" alt="Image Description">
                            </div>
                            <div class="col">
                                <img class="img-fluid" src="./assets/svg/brands/fitbit-gray.svg" alt="Image Description">
                            </div>
                            <div class="col">
                                <img class="img-fluid" src="./assets/svg/brands/flow-xo-gray.svg" alt="Image Description">
                            </div>
                            <div class="col">
                                <img class="img-fluid" src="./assets/svg/brands/layar-gray.svg" alt="Image Description">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Footer -->
            </div>
        </div>
    </div>
    <!-- End Sign Up Modal -->
    <!-- ========== END SECONDARY CONTENTS ========== -->

    <!-- Go to Top -->
    <a class="js-go-to go-to position-fixed" href="javascript:;" style="visibility: hidden;" data-hs-go-to-options='{
       "offsetTop": 700,
       "position": {
         "init": {
           "right": 15
         },
         "show": {
           "bottom": 15
         },
         "hide": {
           "bottom": -15
         }
       }
     }'>
    <i class="fas fa-angle-up"></i>
  </a>

    <script>
        $(document).on('ready', function() {
            // INITIALIZATION OF HEADER
            // =======================================================
            var header = new HSHeader($('#header')).init();


            // INITIALIZATION OF MEGA MENU
            // =======================================================
            var megaMenu = new HSMegaMenu($('.js-mega-menu'), {
                desktop: {
                    position: 'left'
                }
            }).init();


            // INITIALIZATION OF UNFOLD
            // =======================================================
            var unfold = new HSUnfold('.js-hs-unfold-invoker').init();


            // INITIALIZATION OF SHOW ANIMATIONS
            // =======================================================
            $('.js-animation-link').each(function() {
                var showAnimation = new HSShowAnimation($(this)).init();
            });


            // INITIALIZATION OF FORM VALIDATION
            // =======================================================
            $('.js-validate').each(function() {
                $.HSCore.components.HSValidation.init($(this), {
                    rules: {
                        confirmPassword: {
                            equalTo: '#signupPassword'
                        }
                    }
                });
            });


            // INITIALIZATION OF LEAFLET
            // =======================================================
            $('#map').each(function() {
                var leaflet = $.HSCore.components.HSLeaflet.init($(this)[0]);

                L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw', {
                    id: 'mapbox/light-v9'
                }).addTo(leaflet);
            });


            // INITIALIZATION OF GO TO
            // =======================================================
            $('.js-go-to').each(function() {
                var goTo = new HSGoTo($(this)).init();
            });
        });
    </script>

    <!-- IE Support -->
    <script>
        if (/MSIE \d|Trident.*rv:/.test(navigator.userAgent)) document.write('<script src="./assets/vendor/babel-polyfill/dist/polyfill.js"><\/script>');
    </script>