<% layout('./layout') -%>


<main id="content" role="main">
    <!-- Hero Section -->
    <div class="gradient-y-sm-primary position-relative z-index-2 overflow-hidden">
        <div class="space-top-2 space-top-lg-4 position-relative">
            <!-- Title -->
            <div class="w-md-80 w-lg-50 text-center mx-md-auto mb-5 mb-md-9">
                <div class="wrapper">
                    <div class="container">
                        <div class="row">
                            <div class="overflow-hidden">
                                <div class="container space-top-2 space-top-lg-3 space-bottom-3">
                                    <div class="w-md-80 w-lg-50 text-center mx-md-auto mb-5 mb-md-9">
                                        <h2>Features built for scale</h2>
                                        <p>Get insights to dig down into what's powering your growth the most.</p>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-8 mb-7 mb-lg-0">
                                            <div class="row">
                                                <div class="col-sm-6 mb-3 mb-sm-7">
                                                    <a href="/">

                                                        <div class="pr-lg-6">
                                                            <figure class="max-w-6rem w-100 mb-4">
                                                                <img class="img-fluid" src="./assets/svg/icons/icon-2.svg" alt="SVG">
                                                            </figure>
                                                            <h3 class="h4">Inventory Management</h3>
                                                            <p class="text-body">Simple and easy inventory management</p>
                                                        </div>
                                                    </a>
                                                    <!-- End Icon Blocks -->
                                                </div>
                        
                                                <div class="col-sm-6 mb-3 mb-sm-7">
                                                    <a href="#">
                                                        <!-- Icon Blocks -->
                                                        <div class="pr-lg-6">
                                                        <figure class="max-w-6rem w-100 mb-4">
                                                            <img class="img-fluid" src="./assets/svg/icons/icon-3.svg" alt="SVG">
                                                        </figure>
                                                        <h4>Accountiong</h4>
                                                        <p class="text-body">Double entry accounting system</p>
                                                    </div>
                                                </a>
                                                    <!-- End Icon Blocks -->
                                                </div>
                                                
                        
                                                <div class="col-sm-6 mb-3 mb-sm-0">
                                                    <a href="/">

                                                        <!-- Icon Blocks -->
                                                        <div class="pr-lg-6">
                                                        <figure class="max-w-6rem w-100 mb-4">
                                                            <img class="img-fluid" src="./assets/svg/icons/icon-15.svg" alt="SVG">
                                                        </figure>
                                                        <h4>Multi users support</h4>
                                                        <p class="text-body">It can support multi users and Computers</p>
                                                    </div>
                                                </a>
                                                    <!-- End Icon Blocks -->
                                                </div>
                        
                                                <div class="col-sm-6 mb-sm-0">
                                                    <a href="">
                                                    <!-- Icon Blocks -->
                                                    <div class="pr-lg-6">
                                                        <figure class="max-w-6rem w-100 mb-4">
                                                            <img class="img-fluid" src="./assets/svg/icons/icon-5.svg" alt="SVG">
                                                        </figure>
                                                        <h4>Selling</h4>
                                                        <p class="text-body">Easy and instant selling</p>
                                                    </div>
                                                    <!-- End Icon Blocks -->
                                                </a>
                                                </div>
                                            </div>
                                        </div>
                        
                                        <div class="col-sm-8 col-md-6 col-lg-4">
                                            <!-- Article -->
                                            <article class="position-relative">
                                                <a class="card shadow-none bg-img-hero w-100 min-h-450rem transition-3d-hover" href="/download"
                                                    style="background-image: url(./assets/img/400x500/img26.jpg);">
                                                    <div class="card-body">
                                                        <h4>Download FreePos</h4>
                                                        <p class="text-body">Fully Free and open source Point Of Sale</p>
                                                    </div>
                                                    <div class="card-footer border-0 bg-transparent pt-0">
                                                        <span class="font-weight-bold">Browse tools <i
                                                                class="fas fa-angle-right fa-sm ml-1"></i></span>
                                                    </div>
                                                </a>
                        
                                                <!-- SVG Elements -->
                                                <figure class="max-w-19rem w-100 position-absolute bottom-0 right-0 z-index-n1">
                                                    <div class="mb-n7 mr-n7">
                                                        <img class="img-fluid" src="./assets/svg/components/dots-2.svg"
                                                            alt="Image Description">
                                                    </div>
                                                </figure>
                                                <!-- End SVG Elements -->
                                            </article>
                                            <!-- End Article -->
                                        </div>
                                    </div>
                                            <div class="row">
                                                <div class="12">
                                                    <div class="row">
                                                        <div class="col-sm-4 mb-3 mb-sm-7">
                                                            <a href="/">
        
                                                                <div class="pr-lg-6">
                                                                    <figure class="max-w-6rem w-100 mb-4">
                                                                        <img class="img-fluid" src="./assets/svg/icons/icon-2.svg" alt="SVG">
                                                                    </figure>
                                                                    <h3 class="h4">Customers and Vendors Ledger</h3>
                                                                    <p class="text-body">FreePos Is One of free software that gives Ledgers</p>
                                                                </div>
                                                            </a>
                                                            <!-- End Icon Blocks -->
                                                        </div>
                                                        <div class="col-sm-4 mb-3 mb-sm-7">
                                                            <a href="/">
        
                                                                <div class="pr-lg-6">
                                                                    <figure class="max-w-6rem w-100 mb-4">
                                                                        <img class="img-fluid" src="./assets/svg/icons/icon-6.svg" alt="SVG">
                                                                    </figure>
                                                                    <h3 class="h4">Invoice printing</h3>
                                                                    <p class="text-body">You Can Print Invoice Easily</p>
                                                                </div>
                                                            </a>
                                                            <!-- End Icon Blocks -->
                                                        </div>
                                                        <div class="col-sm-4 mb-3 mb-sm-7">
                                                            <a href="/">
        
                                                                <div class="pr-lg-6">
                                                                    <figure class="max-w-6rem w-100 mb-4">
                                                                        <img class="img-fluid" src="./assets/svg/icons/icon-7.svg" alt="SVG">
                                                                    </figure>
                                                                    <h3 class="h4">Reporting</h3>
                                                                    <p class="text-body">You can take report of your whole day</p>
                                                                </div>
                                                            </a>
                                                            <!-- End Icon Blocks -->
                                                        </div>
                                                        <div class="col-sm-4 mb-3 mb-sm-7">
                                                            <a href="/">
        
                                                                <div class="pr-lg-6">
                                                                    <figure class="max-w-6rem w-100 mb-4">
                                                                        <img class="img-fluid" src="./assets/svg/icons/icon-8.svg" alt="SVG">
                                                                    </figure>
                                                                    <h3 class="h4">Send Branded SMS from software</h3>
                                                                    <p class="text-body">You can send SMS to customers and vendors through software</p>
                                                                </div>
                                                            </a>
                                                            <!-- End Icon Blocks -->
                                                        </div>
                                                        <div class="col-sm-4 mb-3 mb-sm-7">
                                                            <a href="/">
        
                                                                <div class="pr-lg-6">
                                                                    <figure class="max-w-6rem w-100 mb-4">
                                                                        <img class="img-fluid" src="./assets/svg/icons/icon-2.svg" alt="SVG">
                                                                    </figure>
                                                                    <h3 class="h4">No Data limits</h3>
                                                                    <p class="text-body">FreePos has no data limit you can use it lifetime for free</p>
                                                                </div>
                                                            </a>
                                                            <!-- End Icon Blocks -->
                                                        </div>
                                                        <div class="col-sm-4 mb-3 mb-sm-7">
                                                            <a href="/">
        
                                                                <div class="pr-lg-6">
                                                                    <figure class="max-w-6rem w-100 mb-4">
                                                                        <img class="img-fluid" src="./assets/svg/icons/icon-9.svg" alt="SVG">
                                                                    </figure>
                                                                    <h3 class="h4">Easy to learn and use</h3>
                                                                    <p class="text-body">This Softwere is very easy to learn and use</p>
                                                                </div>
                                                            </a>
                                                            <!-- End Icon Blocks -->
                                                        </div>
                                                        <div class="col-sm-4 mb-3 mb-sm-7">
                                                            <a href="/">
        
                                                                <div class="pr-lg-6">
                                                                    <figure class="max-w-6rem w-100 mb-4">
                                                                        <img class="img-fluid" src="./assets/svg/icons/icon-10.svg" alt="SVG">
                                                                    </figure>
                                                                    <h3 class="h4">C# WPF and MySql based latest stack</h3>
                                                                    <p class="text-body">FreePos is based on C# using WPF framework and mysql database</p>
                                                                </div>
                                                            </a>
                                                            <!-- End Icon Blocks -->
                                                        </div>
                                                        <div class="col-sm-4 mb-3 mb-sm-7">
                                                            <a href="/">
        
                                                                <div class="pr-lg-6">
                                                                    <figure class="max-w-6rem w-100 mb-4">
                                                                        <img class="img-fluid" src="./assets/svg/icons/icon-11.svg" alt="SVG">
                                                                    </figure>
                                                                    <h3 class="h4">100% free and open source</h3>
                                                                    <p class="text-body">This is Fully Open Source and source code is availabe on Github</p>
                                                                </div>
                                                            </a>
                                                            <!-- End Icon Blocks -->
                                                        </div>
                                                        <div class="col-sm-4 mb-3 mb-sm-7">
                                                            <a href="/">
        
                                                                <div class="pr-lg-6">
                                                                    <figure class="max-w-6rem w-100 mb-4">
                                                                        <img class="img-fluid" src="./assets/svg/icons/icon-12.svg" alt="SVG">
                                                                    </figure>
                                                                    <h3 class="h4">And much more</h3>
                                                                    <p class="text-body">There are many other features in this software</p>
                                                                </div>
                                                            </a>
                                                            <!-- End Icon Blocks -->
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                </div>
                            </div>



                            
                        </div>
                    </div>
                </div>

            </div>
    </div>
</main>

