<div id="x-corp-carousel" class="carousel slide hero-slide hidden-xs" data-ride="carousel">

  <ol class="carousel-indicators">
      <li data-target="#x-corp-carousel" data-slide-to="0" class="active"></li>
      <li data-target="#x-corp-carousel" data-slide-to="1"></li>
      <li data-target="#x-corp-carousel" data-slide-to="2"></li>
  </ol>

  <div class="carousel-inner" role="listbox">
      <div class="item active">
          <img src="img/hero-slide-1.jpg" alt="Hero Slide">
          <div class="carousel-caption">
              <h1>Full Free Point of sales</h1>
              <p>This is a full free Open Source Point Of Sales, You can donwload in install easily <br> free of cost, Its free for lifetime</p>
                  <button class="btn btn-success rounded-3" onclick="navigatetolinkblank('github.com/ravicosoftltd/businessbook-desktop/releases/latest/download/BusinessBook.Setup.zip')">Download</button>
          </div>
      </div>
      <div class="item">
          <img src="img/hero-slide-2.jpg" alt="...">
          <div class="carousel-caption">
              <h1>Full source code is Available on github</h1>
              <p>If you want to change anything in this software you can get source code <br> whitch is avalibe on github </p>
                  <button class="btn btn-success rounded-2" onclick="navigatetolinkblank('github.com/ravicosoftltd/businessbook-desktop')">View Source code</button>
          </div>
      </div>
      <div class="item">
          <img src="img/hero-slide-3.jpg" alt="...">
          <div class="carousel-caption">
              <h1>Best Choice For your Business</h1>
              <p>Free-Pos is the best choice for your business because its full free and very lighweight <br> can run on any pc or laptop</p>
          </div>
      </div>
  </div>

  <a class="left carousel-control" href="#x-corp-carousel" role="button" data-slide="prev">
      <i class="fa fa-angle-left" aria-hidden="true"></i>
      <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#x-corp-carousel" role="button" data-slide="next">
      <i class="fa fa-angle-right" aria-hidden="true"></i>
      <span class="sr-only">Next</span>
  </a>
</div>

<section class="x-services ptb-100 gray-bg">
  <section class="section-title">
      <div class="container text-center">
          <h2>What We Offer</h2>
          <span class="bordered-icon"><i class="fa fa-circle-thin"></i></span>
      </div>
  </section>
  <div class="container">
      <div class="row">
          <div class="col-md-6">
              <div class="thumbnail clearfix">
                  <a href="#"><img class="img-responsive" src="img/img-offer-1.jpg" alt="Image"></a>
                  <div class="caption">
                      <h3><a href="#">Investment</a></h3>
                      <p>Praesent dapibus eleifend aug eget sollicitudin velit malesuada Aliquam
                          blandit diam feugiat tellus odio malesuada ex.</p>
                  </div>
              </div>
          </div>
          <div class="col-md-6">
              <div class="thumbnail clearfix">
                  <a href="#"><img class="img-responsive" src="img/img-offer-2.jpg" alt="Image"></a>
                  <div class="caption">
                      <h3><a href="#">Planning</a></h3>
                      <p>Praesent dapibus eleifend aug eget sollicitudin velit malesuada Aliquam
                          blandit diam feugiat tellus odio malesuada ex.</p>
                  </div>
              </div>
          </div>
      </div>

      <div class="row">
          <div class="col-md-6">
              <div class="thumbnail clearfix">
                  <a href="#"><img class="img-responsive" src="img/img-offer-3.jpg" alt="Image"></a>
                  <div class="caption">
                      <h3><a href="#">Analysis</a></h3>
                      <p>Praesent dapibus eleifend aug eget sollicitudin velit malesuada Aliquam
                          blandit diam feugiat tellus odio malesuada ex.</p>
                  </div>
              </div>
          </div>
          <div class="col-md-6">
              <div class="thumbnail clearfix">
                  <a href="#"><img class="img-responsive" src="img/img-offer-4.jpg" alt="Image"></a>
                  <div class="caption">
                      <h3><a href="#">Banking</a></h3>
                      <p>Praesent dapibus eleifend aug eget sollicitudin velit malesuada Aliquam
                          blandit diam feugiat tellus odio malesuada ex.</p>
                  </div>
              </div>
          </div>
      </div>

  </div>

</section>

<section class="x-features">
  <section class="section-title">
      <div class="container text-center">
          <h2>Our Capabilities</h2>
          <span class="bordered-icon"><i class="fa fa-circle-thin"></i></span>
      </div>
  </section>
  <div class="container">
      <div class="row">
          <div class="col-md-6 img-left">
              <img class="img-responsive" src="img/img-about.png" alt="">
          </div>
          <div class="col-md-6">
              <div class="promo-block-wrapper clearfix">
                  <div class="promo-icon">
                      <i class="fa fa-line-chart"></i>
                  </div>
                  <div class="promo-content">
                      <h3>We teach you how to improve your business</h3>
                      <p>Lorem ipsum dolor sit consectetuer adipiscing elit nonummy ib uismod
                          tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                  </div>
              </div>

              <div class="promo-block-wrapper clearfix">
                  <div class="promo-icon">
                      <i class="fa fa-life-ring"></i>
                  </div>
                  <div class="promo-content">
                      <h3>We make the technology affordable for you</h3>
                      <p>Lorem ipsum dolor sit consectetuer adipiscing elit nonummy ib uismod
                          tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                  </div>
              </div>

              <div class="promo-block-wrapper clearfix">
                  <div class="promo-icon">
                      <i class="fa fa-calculator"></i>
                  </div>
                  <div class="promo-content last-type">
                      <h3>Seamlessly grow wireless human capital before turnkey.</h3>
                      <p>Lorem ipsum dolor sit consectetuer adipiscing elit nonummy ib uismod
                          tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                  </div>
              </div>

          </div>
      </div>
  </div>
</section>

<section class="team ptb-100">
  <section class="section-title">
      <div class="container text-center">
          <h2>Our Team</h2>
          <span class="bordered-icon"><i class="fa fa-circle-thin"></i></span>
      </div>
  </section>
  <div class="container">
    <div class="row">
        <div class="col-sm-4">
            <figure class="thumbnail">
                <a href="#"><img src="img/employee/atta.png" class="img-responsive" alt="Image"></a>
                <figcaption class="caption text-center">
                    <h3>Atta Rasool
                        <small>Director & Founder</small>
                    </h3>
                    <h3>
                        Contact No
                        <a href="tel:+923024759550">+92 302 4759550</a>
                    </h3>
                </figcaption>
            </figure>
        </div>

        <div class="col-sm-4">
            <figure class="thumbnail">
                <a href="#"><img src="img/employee/alif.png" class="img-responsive" alt="Image"></a>
                <figcaption class="caption text-center">
                    <h3>Ali Faraz
                        <small>Founder</small>
                    </h3>
                    <h3>
                        Contact No
                        <a href="tel:+923069600653">+92 306 9600653</a>
                    </h3>
                </figcaption>
            </figure>
        </div>

        <div class="col-sm-4">
            <figure class="thumbnail">
                <a href="#"><img src="img/employee/hasnat.png" class="img-responsive" alt="Image"></a>
                <figcaption class="caption text-center">
                    <h3>Muhammad Hasnat
                        <small>Frontend Develper</small>
                    </h3>
                    <h3>
                        Contact No
                        <a href="tel:+923151463744">+92 315 1463744</a>
                    </h3>
                </figcaption>
            </figure>
        </div>

    </div>

    <div class="row">
        <div class="col-sm-4">
            <figure class="thumbnail">
                <a href="#"><img src="img/employee/jawad.png" class="img-responsive" alt="Image"></a>
                <figcaption class="caption text-center">
                    <h3>Jawad Hussain
                        <small>Director</small>
                    </h3>
                    <h3>
                        Contact No
                        <a href="tel:+923407170308">+92 340 7170308</a>
                    </h3>
                </figcaption>
            </figure>
        </div>

        <div class="col-sm-4">
            <figure class="thumbnail">
                <a href="#"><img src="img/employee/umar.png" class="img-responsive" alt="Image"></a>
                <figcaption class="caption text-center">
                    <h3>Muhammad Umar Habbib
                        <small>Founder</small>
                    </h3>
                    <h3>
                        Contact No
                        <a href="tel:+923088684021">+92 308 8684021</a>
                    </h3>
                </figcaption>
            </figure>
        </div>
      </div>

  </div>

</section>

<section class="testimonial">
  <section class="section-title">
      <div class="container text-center">
          <h2>Satisfied Customer</h2>
          <span class="bordered-icon"><i class="fa fa-circle-thin"></i></span>
      </div>
  </section>
  <div class="container">
      <div id="testimonialSlider" class="carousel slide" data-ride="carousel">

          <div class="carousel-inner" role="listbox">
              <div class="item active">
                  <blockquote>
                      <ul>
                          <li><img src="img/img-testimonial-1.jpg" class="img-responsive" alt="" />
                          </li>
                          <li class="name">Justus Kühn</li>
                      </ul>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum egetvel
                          </br>lacus pretium rhoncus a quis nisly Ut vehicula gravida dui in pulvinar
                          donec</br> diam elit consequat eget augue vitae aliquet sollicitudin.
                      </p>
                  </blockquote>
              </div>
              <div class="item">
                  <blockquote>
                      <ul>
                          <li><img src="img/img-testimonial-2.jpg" class=" img-responsive" alt="" />
                          </li>
                          <li class="name">Lennox Arnold</li>
                      </ul>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum egetvel
                          </br>lacus pretium rhoncus a quis nisly Ut vehicula gravida dui in pulvinar
                          donec</br> diam elit consequat eget augue vitae aliquet sollicitudin.
                      </p>
                  </blockquote>
              </div>
              <div class="item">
                  <blockquote>
                      <ul>
                          <li><img src="img/img-testimonial-3.jpg" class="img-responsive" alt="" />
                          </li>
                          <li class="name">Paulina Berger</li>
                      </ul>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum egetvel
                          </br>lacus pretium rhoncus a quis nisly Ut vehicula gravida dui in pulvinar
                          donec</br> diam elit consequat eget augue vitae aliquet sollicitudin.
                      </p>
                  </blockquote>
              </div>
          </div>

          <a class="left carousel-control" href="#testimonialSlider" role="button" data-slide="prev">
              <span><i class="fa fa-angle-left"></i></span>
              <span class="sr-only">Previous</span>
          </a>
          <a class="right carousel-control" href="#testimonialSlider" role="button" data-slide="next">
              <span><i class="fa fa-angle-right"></i></span>
              <span class="sr-only">Next</span>
          </a>
      </div>

  </div>
</section>

<section class="client-logo ptb-100">
  <section class="section-title">
      <div class="container text-center">
          <h2>Our Clients</h2>
          <span class="bordered-icon"><i class="fa fa-circle-thin"></i></span>
      </div>
  </section>
  <div class="container">
      <div class="row">
          <div class="col-md-2 col-sm-4 col-xs-6 section-margin">
              <a href="#"><img src="img/logo-client-1.jpg" alt="Image"></a>
          </div>
          <div class="col-md-2 col-sm-4 col-xs-6 section-margin">
              <a href="#"><img src="img/logo-client-2.jpg" alt="Image"></a>
          </div>
          <div class="col-md-2 col-sm-4 col-xs-6 section-margin">
              <a href="#"><img src="img/logo-client-3.jpg" alt="Image"></a>
          </div>
          <div class="col-md-2 col-sm-4 col-xs-6 section-margin">
              <a href="#"><img src="img/logo-client-4.jpg" alt="Image"></a>
          </div>
          <div class="col-md-2 col-sm-4 col-xs-6 section-margin">
              <a href="#"><img src="img/logo-client-5.jpg" alt="Image"></a>
          </div>
          <div class="col-md-2 col-sm-4 col-xs-6 section-margin">
              <a href="#"><img src="img/logo-client-6.jpg" alt="Image"></a>
          </div>
      </div>
  </div>

</section>
<script>
    function navigatetopageblank(link){
        window.open("/"+link,"_blank")

    }
    function navigatetopage(link){
        location.replace("/"+link)

    }
    function navigatetolinkblank(link){
        window.open("https://"+link)

    }
</script>